{
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-var": "warn",
    "space-before-function-paren": ["warn", "never"],
    "standard/no-callback-literal": 0
  }
}
