{
  "extends": [
    "eslint:recommended",
    "plugin:security/recommended"
  ],
  "plugins": [
    "security"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": "warn",
    "no-multi-spaces": "warn",
    "no-var": "warn",
    "arrow-spacing": "warn",
    "space-before-function-paren": ["warn", "never"],
    "space-infix-ops": "warn",
    "space-in-parens": ["warn", "never"],
    "space-before-blocks": "warn",
    "no-spaced-func": "warn",
    "eqeqeq": "warn",
    "prefer-const": "warn",
    "no-path-concat": "warn",
    "quotes": [error, single, {avoidEscape: true}]
  }
}
