# OS
.DS_Store

# Logs
*.log

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env*
!.env.example

# Deno
.deno/
