.navbar-brand h1 { margin: 0; color: #FFF; }
#wrapper { background-position: center 0; background-image: url("../images/bg_geral2.jpg"); }
#main-content { padding-top: 10px; }
.lead.margin-sm { margin-bottom: 40px; }
.well { white-space: nowrap; }

.hero-carousel, .hero-carousel .item { height: 400px; }
.carousel-blur .normal { margin-top: 10px; }
.carousel-blur .big { margin-top: 70px; }

.language { float: right; margin-right: 20px; }
.language a { display: block; float: left; padding: 0 5px; height: 90px; vertical-align: middle; }
.language a:hover { opacity: .8; }
.language img { width: auto; height: auto; max-height: 30px; margin: 30px 0; }
.pt-br { display: none; }