<html><head><title>An error was found</title></head><body><pre>
Something is wrong on your host: <%= targetHost %>

Error message:
<%= err.message %>

<a href='http://<%= config.fqdn %>'><%= config.fqdn %></a>
</pre></body></html>
